<div class="alert alert-info" role="alert" *ngIf="gameInfo?.ended">Game
  ended! {{(gameInfo?.winnerName) ? gameInfo?.winnerName + ' won!' : 'Tie!'}}</div>
<div class="row">
  <div class="col-sm-9">
    <div class="container" #gamecontainer>
      <canvas #gamecanvas id="gamecanvas">

      </canvas>
    </div>
  </div>
  <div class="col-sm">
    <div class="card border-primary">
      <div class="card-body">
        <p>Turn: {{(gameInfo?.playerOneTurn) ? gameInfo?.playerOneName : gameInfo?.playerTwoName}}</p>
        <p>Player
          one: {{ gameInfo?.playerOneName }} </p>
        <p>Player
          two: {{ gameInfo?.playerTwoName }}</p>
      </div>
    </div>
    <div class="chat-box overflow-auto mt-1" #chatbox>
      <div *ngFor="let message of messages" [ngClass]="(message.sender === us.getId()) ? 'card text-end': 'card'">
        <h6 class="card-title ms-3 mt-3">{{(message.sender === us.getId()) ? us.getUsername() : ''}}</h6>
        <h6 class="card-subtitle ms-3 text-muted">{{message.datetime}}</h6>
        <p class="card-body">
          {{message.content}}
        </p>
      </div>

    </div>

    <div class="input-group mt-3">
      <input type="text" #messagetxt id="inputMessage" class="form-control" placeholder="Message"
             aria-describedby="send-button">
      <button class="btn btn-primary" (click)="sendMessage(messagetxt)" id="send-button">
        <i class="bi bi-arrow-up-circle"></i> Send
      </button>
    </div>
  </div>
</div>
