div.chat-box {
  padding: 10px;
  border-style: groove;
  border-color: #ea39b8;
  border-radius: 25px;
  background: #6f42c1;
  overflow-scrolling: auto;
  height: 60vh;;
  width: 100%;
}

canvas {
  border-style: groove;
  border-radius: 25px;
}
