div.chat-box {
  position: relative;
  padding: 10px;
  border-style: groove;
  border-color: #ea39b8;
  border-radius: 25px;
  background: #6f42c1;
  height: 80vh;
  width: 100%;
}

.height-full {
  height: 100vh;
}
