<div class="container {{visible}}" #chatContainer>
  <div class="card bg-dark text-light border-primary fixed-bottom h-75 m-3">
    <div class="card-header bg-primary">
      <a>Chat</a>
      <button type="button" class="btn btn-dark float-end" aria-label="Close" (click)="closeChat()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="card-body overflow-scroll">
      <div class="card m-2 bg-dark text-white" *ngFor="let message of messages">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="m-3" src="{{(getUser(message.sender) | async)?.avatar || '/assets/img/profile.png' }}" alt="Profile Picture" height="128" width="128">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{(getUser(message.sender) | async)?.username || '/assets/img/profile.png' }}</h5>
              <p class="card-text"><small class="text-muted">{{message.datetime}}</small></p>
              <p class="card-text">{{message.content}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="send-button">
          <button id="send-button" class="btn btn-outline-primary" type="button"><i class="bi bi-envelope"></i> Send</button>
        </div>

      </form>
    </div>
  </div>
</div>
