<div class="offcanvas offcanvas-end bg-dark text-light" tabindex="-1" id="notificationsOffCanvas"
     aria-labelledby="notificationsOffCanvasLabel">
  <div class="offcanvas-header">
    <h5 id="notificationsOffCanvasLabel" class="text-light"><i class="bi bi-bell"></i> Notifications</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div *ngFor="let notification of getNotifications()"
         [ngClass]="(notification.type.valueOf()!=0)? 'card border-info bg-dark m-2 ':'card bg-dark border-danger m-2'">
      <h5 class="card-title mt-3 ms-3">{{notification.senderUsername}}</h5>
      <h6 class="card-subtitle ms-3" *ngIf="notification.type==0">An error has occurred while retrieving the
        notifications</h6>
      <h6 class="card-subtitle ms-3 text-light" *ngIf="notification.type==1">Sent you a new friend request!</h6>
      <h6 class="card-subtitle ms-3 text-light" *ngIf="notification.type==2">Sent you a new game request!</h6>
      <h6 class="card-subtitle ms-3 text-light" *ngIf="notification.type==3">Sent you a new private message!</h6>
      <div class="card-body">
        <a class="btn btn-success btn-sm m-1" (click)="acceptNotification(notification)"><i class="bi bi-check"></i>
          {{(notification.type !== 3) ? 'Accept' : 'Open chat' }}</a>
        <a class="btn btn-danger btn-sm m-1" (click)="denyNotification(notification)"><i class="bi bi-x"></i>
          {{(notification.type !== 3) ? 'Refuse' : 'Ignore' }}</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="message"
     [ngClass]="(success)?'alert alert-success alert-dismissible fade show':'alert alert-danger alert-dismissible fade show'"
     role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
