<div class="row">
  <div class="col-8">
    <h2>{{ (user) ? 'Welcome ' + user.username : "Welcome. Please sign-up to start!" }}</h2>
    <div class="container" *ngIf="user">
      <h4>Check your statistics:</h4>
      <table class="table table-primary">
        <thead>
        <tr>
          <th scope="col">Victories</th>
          <th scope="col">Losses</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{user.victories}}</th>
          <th>{{user.defeats}}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col">
    <app-leaderboard></app-leaderboard>
  </div>
</div>
