<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card border-secondary bg-dark">
        <h5 class="card-title text-center m-3 text-light">{{user?.username}}</h5>
        <div class="card-body">
          <div class="text-center">
            <img src="{{(user && user.avatar !== undefined) ? user.avatar:'/assets/img/profile.png'}}"
                 alt="Profile picture" width="256" height="256">
          </div>
          <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item bg-dark"><a class="card-text">Last password change: {{user?.last_password_change}}</a>
            </li>
            <li class="list-group-item bg-dark"><a class="card-text">Victories: {{user?.victories}}</a></li>
            <li class="list-group-item bg-dark"><a class="card-text">Defeats: {{user?.defeats}}</a></li>
            <li class="list-group-item bg-dark"><a class="card-text">Status: {{(user?.enabled) ? 'Enabled' : 'Disabled'}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="alert alert-danger" *ngIf="!isEnabled()">Please change your password</div>
      <form>
        <h3 class="text-light">Change password</h3>
        <div class="form-group mb-3">
          <label for="inputOldPassword" class="sr-only">Old password</label>
          <input type="password" #oldPasswordTxt id="inputOldPassword" class="form-control" placeholder="Old password"
                 required>

          <label for="inputNewPassword" class="sr-only">New password</label>
          <input type="password" #newPasswordTxt id="inputNewPassword" class="form-control" placeholder="New password"
                 required autofocus>

          <label for="inputNewPasswordRepeat" class="sr-only">New password (Repeat)</label>
          <input type="password" #newPasswordRepeatTxt id="inputNewPasswordRepeat" class="form-control"
                 placeholder="New password (Repeat)" required autofocus>

          <button class="btn btn-primary mt-3"
                  (click)="changePassword(oldPasswordTxt.value, newPasswordTxt.value, newPasswordRepeatTxt.value);">
            Confirm
          </button>
        </div>
      </form>
      <div class="form-group">
        <h3 class="text-light">Change avatar:</h3>
        <input class="mb-3 form-control" type="file" id="formFile" #inputElement>
        <button class="btn btn-primary" (click)="uploadAvatar()">Upload</button>
      </div>
      <div class="form-group" *ngIf="isModerator()">
        <h3 class="form-label text-light">
          Manage user:
        </h3>
        <button class="btn btn-primary m-1" (click)="switchEnabled()">
          {{ (user?.enabled) ? 'Disable' : 'Enable' }}
        </button>
        <button class="btn btn-primary m-1" (click)="deleteUser()">
          Delete user
        </button>
        <button class="btn btn-primary m-1" routerLink="/stats/{{user?._id}}">
          Check stats
        </button>
      </div>
    </div>
  </div>
</div>
