<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" (click)="socket.connect()">Connect 4</a>
      <a class="navbar-text m-1"><span class="badge bg-info"></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar"
              aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="bi bi-house"></i> Home</a>
          </li>
          <li *ngIf="auth.hasRole('MODERATOR')">
            <a class="nav-link" routerLink="/users"><i class="bi bi-person-lines-fill"></i> Users</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto" *ngIf="auth.isLoggedIn()">
          <li>
            <a class="nav-link" data-bs-toggle="offcanvas" href="#notificationsOffCanvas">
              <i class="bi bi-bell"><span class="badge badge-light">{{getNotificationNumber()}}</span></i> Notifications</a>
          </li>
          <li *ngIf="auth.isLoggedIn()">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#friendsOffCanvas">
              <i class="bi bi-people"></i><span class="badge badge-light">{{getFriendsNumber()}}</span>
              Friends</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="userMenuDropdownLink" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
              {{auth.getUsername()}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end"
                aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/users/{{auth.getId()}}">Profile settings</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto" *ngIf="!auth.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<app-friends></app-friends>
<app-notification></app-notification>

<router-outlet></router-outlet>

<app-chat></app-chat>
