<div class="container mt-3">
  <a role="button" class="btn btn-primary" routerLink="/register">Register new user</a>
  <table class="table table-dark table-hover border-primary mt-3">
    <thead>
      <tr>
        <th>Username</th>
        <th>Status</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersMap.values()">
        <td>{{user.username}}</td>
        <td>{{user.enabled ? 'Enabled' : 'Disabled'}}</td>
        <td>
          <a [routerLink]="['/users/',user._id]" class="btn btn-primary m-1" role="button"><i class="bi bi-pen"></i> Manage</a>
          <a (click)="openChat(user._id)" class="btn btn-primary m-1" role="button"><i class="bi bi-chat-dots"></i> Send message</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
