/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
